/* style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f8;
    color: #333;
    margin: 0;
    padding: 20px;
}

#tableContainer {
    margin-top: 20px;
    margin: 20px auto;
    overflow-x: auto;
    overflow-y: auto; /* Enable vertical scrolling */
    max-width: 1400px; /* Set a max-width for larger screens */
    max-height: 800px; /* Set a max-height for your table container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

table {
    width: 100%;
    border-collapse: collapse;
    transition: all 0.3s ease; /* smooth transition for hover effects */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 12px 15px;
}

th {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer; /* Indicates interactivity */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e9ecef; /* hover effect for rows */
    transition: background-color 0.3s ease;
}

#tableContainer h3 {
    padding: 10px 0; /* Top and bottom padding */
    background-color: #f8f8f8; /* Light grey background, adjust as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    margin: 0; /* Reset margins */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Make sure padding doesn't affect the total width */
    z-index: 10; /* Ensure it's above other content */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0; /* Stick to the top of the viewport */
    text-align: center; /* Center the text */
}
.center-message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #666;
}



#pagination {
    text-align: center;
    margin-top: 20px;
}

.page-btn {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.page-btn:hover {
    background-color: #0056b3;
}

.sort-indicator {
    margin-left: 5px;
    user-select: none; /* prevents the text selection cursor */
}

.sort-indicator::before {
    content: '↕'; /* default state with up and down arrow */
    font-size: 0.8em;
    color: #6c757d; /* a neutral color */
}

.sort-indicator.asc::before {
    content: '▲'; /* indicates an ascending sort */
    color: #ffc107; /* a color to indicate that the column is sorted */
}

.sort-indicator.desc::before {
    content: '▼'; /* indicates a descending sort */
    color: #ffc107;
}

#searchContainer {
    display: flex;
    justify-content: center; /* This will center the search box */
    margin-bottom: 10px; /* Consistent margin with the records count */
}

#globalSearch {
    padding: 8px 15px;
    width: 200px; /* Adjust width as needed */
    border-radius: 5px;
    border: 1px solid #ddd;
}
#recordsCountContainer {
    text-align: center; /* Center the total records count */
    margin-bottom: 10px; /* Spacing between the count and the table */
}


@media screen and (max-width: 768px) {
    #tableContainer {
        max-width: 100%;
        margin: 10px;
    }

    table {
        display: block;
        overflow-x: auto; /* Allows table to scroll horizontally on small screens */
        /* Consider adding overflow-y as well, if needed for your design */
    }
}
